<div class="chat-wrapper">
  <div class="chat-messages" #messageContainer>
    <div *ngFor="let msg of messages" class="chat-message-container">
      <div class="chat-message user-message" *ngIf="msg.userMessage">
        {{ msg.userMessage }}
      </div>
      <div class="chat-message bot-message" *ngIf="msg.responseMessage">
        {{ msg.responseMessage }}
      </div>
    </div>
  </div>

  <div class="chat-input-container">
    <input type="text" class="form-control" [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Type your message..." />
    <button class="btn btn-primary ms-2" (click)="sendMessage()">Send</button>
  </div>
</div>
