.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #b1d1f6; // dark background for entire chat
  color: #fff;
  border-radius:25px;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
}

.chat-message {
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  max-width: 70%;
  word-break: break-word;
}

.user-message {
  background-color: #5487de; // bright blue for user
  color: #fff;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.bot-message {
  background-color: #dfd8ef; // light gray for bot
  color: #000;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.chat-input-container {
  display: flex;
  padding: 0.5rem;
  border-top: 1px solid #333;
}

.chat-input-container input {
  flex: 1;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

.chat-input-container button {
  margin-left: 0.5rem;
  padding: 0 1rem;
  border-radius: 1rem;
}
