<ng-scrollbar style="height: calc(100vh - 70px)" visibility="hover">
  <div class="navbar-content">
    <div class="d-flex flex-column mb-2 padding10">
      <div class="d-flex justify-content-end">
        <button class="btn btn-link p-0" (click)="toggleCreateSession()"
          [title]="creatingSession ? 'Cancel' : 'Add session'">
          <i class="bi toggleCreationBtn" [ngClass]="creatingSession ? 'bi-dash-circle' : 'bi-plus-circle'"></i>
        </button>
      </div>

      <form *ngIf="creatingSession" class="mt-2" (ngSubmit)="createSession()">
        <input type="text" [(ngModel)]="newSessionName" name="sessionName" placeholder="Enter Session Name (required)"
          class="form-control" required autofocus />
      </form>
    </div>
    <ul class="listContainerPadding">
      @if (sessions.length === 0) {
      <li class="sessionsListStyle">No sessions found.</li>
      } @else {
      @for (session of sortedSessions(); track session) {
      <li class="sessionsListStyle mb-2" (click)="openSession(session)"
        [class.active-session]="activeSessionId === session.sessionId">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center">
            <div class="flex-grow-1">
              <input *ngIf="editingSessionId === session.sessionId" type="text" [value]="session.sessionName"
                (blur)="saveSessionName(session)" (keydown.enter)="saveSessionName(session)"
                (input)="session.sessionName = ($event.target['value'])" class="form-control" autofocus />
              <span *ngIf="editingSessionId !== session.sessionId">
                {{ session.sessionName }}
              </span>
            </div>

            <!-- Dropdown for actions -->
            <div ngbDropdown class="ms-2">
              <button class="btn btn-link p-0" id="dropdownMenuButton" ngbDropdownToggle
                (click)="$event.stopPropagation()">
                <i class="bi bi-three-dots-vertical shortMenuIcons"></i>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dropdown-menu-end">
                <button class="dropdown-item" (click)="editSession(session); $event.stopPropagation()">
                  <i class="bi bi-pencil me-1"></i> Edit
                </button>
                <button class="dropdown-item" (click)="toggleFavorite(session); $event.stopPropagation()">
                  <i class="bi" [ngClass]="session.favorite ? 'bi-star-fill text-warning' : 'bi-star'"></i>
                  {{ session.favorite ? 'Unfavorite' : 'Favorite' }}
                </button>
                <button class="dropdown-item text-danger" (click)="deleteSession(session); $event.stopPropagation()">
                  <i class="bi bi-trash me-1"></i> Delete
                </button>
              </div>
            </div>

          </div>
        </div>
      </li>
      }
      }
    </ul>
  </div>
</ng-scrollbar>