<ng-scrollbar style="height: calc(100vh - 70px)" visibility="hover">
  <div class="navbar-content">
    <ul>
      @if (sessions.length === 0) {
        <li>No sessions found.</li>
      } @else {
        @for (session of sortedSessions(); track session) {
          <li class="d-flex align-items-center">
            <input
              *ngIf="editingSessionId === session.sessionId"
              type="text"
              [value]="session.sessionName"
              (blur)="saveSessionName(session)"
              (keydown.enter)="saveSessionName(session)"
              (input)="session.sessionName = ($event.target['value'])"
              class="form-control me-2"
              style="width: 200px;"
              autofocus
            />
            <span *ngIf="editingSessionId !== session.sessionId">
              {{ session.sessionName }}
            </span>
            <button class="btn btn-link p-0 ms-2" (click)="editSession(session)">
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-link p-0 ms-2"
              (click)="toggleFavorite(session)"
              [attr.title]="session.favorite ? 'Unmark as favorite' : 'Mark as favorite'"
            >
              <i
                class="bi"
                [ngClass]="session.favorite ? 'bi-star-fill text-warning' : 'bi-star'"
              ></i>
            </button>
          </li>
        }
      }
    </ul>
  </div>
</ng-scrollbar>